html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header img {
  width: 2rem;
}

header h1 {

}

header p {


}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #e2e2e2;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
  display: flex;
}

nav ul li {
  padding: 1rem;
  font-size: 1.125rem;
}

nav a {
  text-decoration: none;
  color: #0074d9;
}

nav a:hover {
  color: #fff;
}
